<div class="container mt-3">
  <div class="row">

    <div class="col-md-3">
      <div class="card p-3">
        <div class="card-body">
          <h5 class="card-title">Tasks:</h5>
        </div>
        <p>Using RxJS, solve each of the problems described on the right. You should not need to change any of the HTML
          code. </p>
      </div>
    </div>

    <div class="col-md-9">

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Total price of all items:</h5>
          <p>Using the Observable variable <b>totalPriceOfAllItems$</b>, display a total price of all the food items
            retrieve from the FoodService:</p>
          <div>£{{totalPriceOfAllItems$ | async}}</div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Display ticks for even seconds:</h5>
          <p>Using the Observable variable <b>displayTicksForEvenSeconds$</b>, display a timer of even seconds only
            here, i.e. 0, 2, 4, 6 etc.</p>
          <div>{{displayTicksForEvenSeconds$ | async}}</div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Total number of clicks:</h5>
          <p>Update the variable <b>redBoxClicks</b>, <b>greenBoxClicks</b> and <b>totalBoxClicks</b> using the
            Observable <b>boxClicked$</b>. For each click inside the red box,
            the red box clicks variable should be incremented, clicks in the green box should increment the green box
            clicks variable, and the total box clicks should
            be updated for a click in either box.</p>
          <p class="text-danger">Red box clicks: {{redBoxClicks}}</p>
          <p class="text-success">Green box clicks: {{greenBoxClicks}}</p>
          <p>Total box clicks: {{totalBoxClicks}}</p>
          <div (click)="boxClicked('red')" class="red-box-div float-right m-2"></div>
          <div (click)="boxClicked('green')" class="green-box-div float-right m-2"></div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Loading finished:</h5>
          <p>The <b>loadingFinished</b> variable should display true when the list of food items have been loaded from the service, but
            it's displaying false even though we can see the food items have been loaded. Look into the bug
            that is causing <b>loadingFinished</b> to always be false.</p>
          <div>Loading finished: <b>{{loadingFinished}}</b></div>
        </div>
      </div>

    </div>

  </div>
</div>